<!DOCTYPE html>

<body>
<div class="container">
  <h1>Patient Appointment Information</h1>
  <p><a href="/index"></span>Homepage</a></p>
  <ul th:each="record : ${records5}">
    <li th:text="${record}"/>
  </ul>
</div>

<h1>View Appointment Procedure Information</h1> <!-- DELETE IF NOT IMPLEMENTED-->
<form action="/patientapproc" method="post">
  <p>Appointment ID (Normally 9 digits): <input type="text" id="appointment_ID" name="appointment_ID" value /></p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>