<!DOCTYPE html>

<body>

<div class="container">
  <h1>Patient UI</h1>
  <p>Access personal medical records, view upcoming appointments, schedule appointments, etc.</p>

  <!--- CHANGE THESE LINKS TO PROPER PAGES ONCE CREATED!!-->

  <p><a type="button" class="btn btn-lg btn-default" href="/index"><span class="glyphicon glyphicon-flash"></span>Homepage</a></p>
</div>


<!-- Add a patient-->
<form>
  <table>
    <tr><td>Patient ID: </td><td>
    <input type="text" name="patient_id"></td></tr>
    <tr><td>User ID: </td><td>
    <input type="text" name="user_id"></td></tr>
    <tr><td>Gender: </td><td>
    <input type="text" name="gender"></td></tr>
    <tr><td>Insurance: </td><td>
    <input type="text" name="insurance"></td></tr>
    <tr><td>Email Address: </td><td>
    <input type="text" name="email"></td></tr>
    <tr><td>Is Employee: </td><td>
    <input type="text" name="is_employee"></td></tr>  
    <tr><td>Is Fifteen: </td><td>
    <input type="text" name="is_fifteen"></td></tr>
    <tr><td>Responsible Party ID: </td><td>
    <input type="text" name="responsible_party_id"></td></tr>
    
    
    <tr><td>
</form>

</body>
</html>