<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<body>

<div class="container">
  <h1>Patient UI</h1>
  <p>Access personal medical records, view upcoming appointments, schedule appointments</p>


  <!--- CHANGE THESE LINKS TO PROPER PAGES ONCE CREATED!!-->

  <p><a href="/index"></span>Homepage</a></p>
</div>

<h1>Check Upcoming Appointments</h1>
<form action="/patientApps" method="post">
  <p>Patient ID (Normally 9 digits): <input type="text" id="patient_ID" name="patient_ID" value /></p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<h1>View Past Progress Reports</h1> <!-- DELETE IF NOT IMPLEMENTED-->
<form action="/patientprogme" method="post">
  <p>Patient User ID (Normally 9 digits): <input type="text" id="user_ID" name="user_ID" value /></p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<h1>View Past Appointments</h1> <!-- DELETE IF NOT IMPLEMENTED-->
<form action="/patientapptsme" method="post">
  <p>Patient ID (Normally 9 digits): <input type="text" id="patient_ID" name="patient_ID" value /></p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>