<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>
  <title>Receptionist UI</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<!--- TESTING COMMENTING THIS OUT  -->
<!--- <p>Add/Edit Patient Information and Set Patient Appointments</p>-->

    <!--- CHANGE THESE LINKS TO PROPER PAGES ONCE CREATED!!-->

<!--- <p><a type="button" class="btn btn-lg btn-default" href="/index">Return To Homepage</a></p>

<head><h2>Register New Patient</h2></head>-->

<!--<body>
  <form>
    <table>
      <tr><td>Email Address: </td><td>
      <input type="text" email=""></td></tr>
    </table>
  </form>
</body>-->



  <body>
    <h1>Test the other form below</h1>
    <form action="/patientRegistry" method="post">
      <p>First Name: <input type="text" id="firstname" name="firstname" value /></p>
      <p>Middle Name:: <input type="text" id="middlename" name="middlename" value /></p>
      <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

  <!--<p th:text="'firstname: ' + ${patreg.firstname}" />
  
    <form action="#" th:action="@{/patreg}" th:object="${patreg}" method="post">
    <p>First Name: <input type="text" th:field="*{firstname}}" /> Middle Name: <input type="text" field="*{middlename}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </form>
  
  <form action="#" th:action="@{/patreg}" th:object="${patreg}" method="post">
    <p>First Name: <input type="text" th:field="*{firstname}" /> Middle Name: <input type="text" field="*{middlename}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </form>-->


  
<!-- Add a patient-->
<h1>Add a New Patient</h1>
<form action="/patientRegistry" method="post">
  <table>
    <tr><td>Patient ID: </td><td>
    <input type="text" name="patient_id" id="patient_id"></td></tr>
    <tr><td>User ID: </td><td>
    <input type="text" name="user_id" id="user_id"></td></tr>
    <tr><td>Gender: </td><td>
    <input type="text" name="gender" id="gender"></td></tr>
    <tr><td>Insurance: </td><td>
    <input type="text" name="insurance" id= "insurance"></td></tr>
    <tr><td>Email Address: </td><td>
    <input type="text" name="email" id="email"></td></tr>
    <tr><td>Is Employee: </td><td>
    <input type="text" name="is_employee" id="is_employee"></td></tr>  
    <tr><td>Is Fifteen: </td><td>
    <input type="text" name="is_fifteen" id="is_fifteen"></td></tr>
    <tr><td>Responsible Party ID: </td><td>
    <input type="text" name="responsible_party_id" id="responsible_party_id"></td></tr>
    <tr><td>First Name: </td></tr>
    <input type="text" name="first_name" id="first_name">
    <tr><td>Middle Name: </td></tr>
    <input type="text" name="middle_name" id="middle_name">
    <tr><td>Last Name: </td></tr>
    <input type="text" name="last_name" id="last_name">
    <tr><td>Date of Birth: </td></tr>
    <input type="text" name="date_of_birth" id="date_of_birth">
    <tr><td>House Number: </td></tr>
    <input type="text" name="house_number" id="house_number">
    <tr><td>Street: </td></tr>
    <input type="text" name="street" id="street">
    <tr><td>City: </td></tr>
    <input type="text" name="city" id="city">
    <tr><td>Province: </td></tr>
    <input type="text" name="province" id="province">
    <tr><td>Social Security Number: </td></tr>
    <input type="text" name="ssn" id="ssn">
    <tr><td>Password: </td></tr>
    <input type="text" name="password" id="password">
    <tr><td>Responsible Party ID: </td></tr>
    <input type="text" name="responsible_party_id" id="responsible_party_id">
    <tr><td>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" /></td></tr>
</form>

<!--Add a new employee-->
<h1>Add a New Employee</h1>
<form action="/employeeApps" method="post">
  <table>
    <tr><td>Employee ID: </td><td>
    <input type="text" name="employee_id" id="employee_id"></td></tr>
    <tr><td>User ID: </td><td>
    <input type="text" name="user_id" id="user_id"></td></tr>
    <tr><td>Manager ID: </td><td>
    <input type="text" name="manager_id" id="manager_id"></td></tr>
    <tr><td>Role: </td></tr>
    <input type="text" name="role" id="role"></td></tr>
    <tr><td>Employee Type: </td></tr>
    <input type="text" name="employee_type" id="employee_type"></td></tr>
    <tr><td>Work Email: </td></tr>
    <input type="text" name="email_work" id="email_work"></td></tr>
    <tr><td>Personal Email: </td></tr>
    <input type="text" name="email_personal" id="email_personal"></td></tr>
    <tr><td>Phone Extension: </td></tr>
    <input type="text" name="phone_extension" id="phone_extension"></td></tr>
    <tr><td>Furloughed: </td></tr>
    <input type="text" name="furloughed" id="furloughed"></td></tr>
    <tr><td>First Name: </td></tr>
    <input type="text" name="first_name" id="first_name">
    <tr><td>Middle Name: </td></tr>
    <input type="text" name="middle_name" id="middle_name">
    <tr><td>Last Name: </td></tr>
    <input type="text" name="last_name" id="last_name">
    <tr><td>Date of Birth: </td></tr>
    <input type="text" name="date_of_birth" id="date_of_birth">
    <tr><td>House Number: </td></tr>
    <input type="text" name="house_number" id="house_number">
    <tr><td>Street: </td></tr>
    <input type="text" name="street" id="street">
    <tr><td>City: </td></tr>
    <input type="text" name="city" id="city">
    <tr><td>Province: </td></tr>
    <input type="text" name="province" id="province">
    <tr><td>Social Security Number: </td></tr>
    <input type="text" name="ssn" id="ssn">
    <tr><td>Password: </td></tr>
    <input type="text" name="password" id="password">
    <tr><td>Responsible Party ID: </td></tr>
    <input type="text" name="responsible_party_id" id="responsible_party_id">
    <tr><td>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" /></td></tr>
</form>


<!--Add appointment-->
<h1>Set a New Appointment</h1>
<form action="/appointmentApps" method="post">
  <table>
    <tr><td>appointment ID: </td></tr>
    <input type="text" name="appointment_id" id="appointment_id"></td></tr>
    <tr><td>Appointment Type: </td></tr>
    <input type="text" name="appointment_type" id="appointment_type"></td></tr>
    <tr><td>Appointment Date: </td></tr>
    <input type="text" name="date" id="date"></td></tr>
    <tr><td>Total Fee Charge: </td></tr>
    <input type="text" name="total_fee_charge" id="total_fee_charge"></td></tr>
    <tr><td>Patient ID: </td></tr>
    <input type="text" name="patient_id" id="patient_id"></td></tr>
    <tr><td>Employee ID: </td></tr>
    <input type="text" name="employee_id" id="employee_id"></td></tr>
    <tr><td>Start Time: </td></tr>
    <input type="text" name="start_time" id="start_time"></td></tr>
    <tr><td>End Time: </td></tr>
    <input type="text" name="end_time" id="end_time"></td></tr>
    <tr><td>Status: </td></tr>
    <input type="text" name="status" id="status"></td></tr>
    <tr><td>Assigned Room: </td></tr>
    <input type="text" name="assigned_room" id="assigned_room"></td></tr>
    <tr><td></td>
</form>


</body>
</html>