<!DOCTYPE html>

<body>
<div class="jumbotron text-center"> <!--- CHANGE THIS FOR FORMATTING?-->
  <div class="container">
    <a href="/" class="lang-logo">

      <img src="/lang-logo.png"> <!--- CHANGE THIS LOGO TO SOME STOCK PHOTO-->
      
    </a>
    <h1>Receptionist UI</h1>
    <p>Add/Edit Patient Information and Set Patient Appointments</p>

    <!--- CHANGE THESE LINKS TO PROPER PAGES ONCE CREATED!!-->

    <p><a type="button" class="btn btn-lg btn-default" href="/"><span class="glyphicon glyphicon-flash"></span>Homepage</a></p>
   </div>
</div>

</body>
</html>