<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>
  <title>Receptionist UI</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<!-- Add a patient-->
<h1>Add a New Patient</h1>
<form action="/patientRegistry" method="post">
  <p>Patient ID: <input type="text" name="patient_ID" id="patient_ID" /></p>
  <p>User ID: <input type="text" name="user_ID" id="user_ID"></p>
  <p>Gender: <input type="text" name="gender" id="gender" /></p>
  <p>Insurance: <input type="text" name="insurance" id= "insurance" /></p><!-- ADD PROPER SYNTAX HERE-->
  <p>Email Address: <input type="text" name="email_address" id="email_address" /></p>
  <p>Responsible Party ID: <input type="text" name="responsible_party_ID" id="responsible_party_ID" /></p>
  <p>First Name: <input type="text" name="first_name" id="first_name" /></p>
  <p>Middle Name: <input type="text" name="middle_name" id="middle_name" /></p>
  <p>Last Name: <input type="text" name="last_name" id="last_name" /></p>
  <p>Date of Birth: <input type="text" name="date_of_birth" id="date_of_birth" /></p> <!-- ADD PROPER SYNTAX HERE-->
  <p>House Number: <input type="text" name="house_number" id="house_number" /></p>
  <p>Street: <input type="text" name="street" id="street" /></p>
  <p>City: <input type="text" name="city" id="city" /></p>
  <p>Province: <input type="text" name="province" id="province" /></p>
  <p>Social Security Number: <input type="text" name="ssn" id="ssn" /></p>
  <p>Password: <input type="text" name="password" id="password" /></p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<!--Add a new employee-->
<h1>Add a New Employee</h1>
<form action="/employeeApps" method="post">
  <table>
    <p>Employee ID: 
    <input type="text" name="employee_ID" id="employee_ID"></p>
    <p>User ID: 
    <input type="text" name="user_ID" id="user_ID"></p>
    <p>Manager ID: 
    <input type="text" name="manager_ID" id="manager_ID"></p>
    <p>Role: 
    <input type="text" name="role" id="role"></p><!-- ADD PROPER SYNTAX HERE-->
    <p>Employee Type: 
    <input type="text" name="employee_type" id="employee_type"></p>
    <p>Work Email: 
    <input type="text" name="email_work" id="email_work"></p>
    <p>Personal Email: 
    <input type="text" name="email_personal" id="email_personal"></p>
    <p>Phone Extension: 
    <input type="text" name="phone_extension" id="phone_extension"></p>
    <p>Furloughed: 
    <input type="text" name="furloughed" id="furloughed"></p>
    <p>First Name: 
    <input type="text" name="first_name" id="first_name"></p>
    <p>Middle Name: 
    <input type="text" name="middle_name" id="middle_name"></p>
    <p>Last Name: 
    <input type="text" name="last_name" id="last_name"></p>
    <p>Date of Birth: 
    <input type="text" name="date_of_birth" id="date_of_birth"></p><!-- ADD PROPER SYNTAX HERE-->
    <p>House Number: 
    <input type="text" name="house_number" id="house_number"></p>
    <p>Street: 
    <input type="text" name="street" id="street"></p>
    <p>City: 
    <input type="text" name="city" id="city"></p>
    <p>Province: 
    <input type="text" name="province" id="province"></p>
    <p>Social Security Number: 
    <input type="text" name="ssn" id="ssn"></p>
    <p>Password: 
    <input type="text" name="password" id="password"></p>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </table>
</form>


<!--Add appointment-->
<h1>Set a New Appointment</h1>
<form action="/appointmentApps" method="post">
  <table>
    <p>appointment ID: 
    <input type="text" name="appointment_id" id="appointment_id"></p>
    <p>Appointment Type: 
    <input type="text" name="appointment_type" id="appointment_type"></p>
    <p>Appointment Date: 
    <input type="text" name="date" id="date"></p>
    <p>Total Fee Charge: 
    <input type="text" name="total_fee_charge" id="total_fee_charge"></p>
    <p>Patient ID: 
    <input type="text" name="patient_id" id="patient_id"></p>
    <p>Employee ID: 
    <input type="text" name="employee_id" id="employee_id"></p>
    <p>Start Time: 
    <input type="text" name="start_time" id="start_time"></p>
    <p>End Time: 
    <input type="text" name="end_time" id="end_time"></p>
    <p>Status: 
    <input type="text" name="status" id="status"></p>
    <p>Assigned Room: 
    <input type="text" name="assigned_room" id="assigned_room"></p>
  </table>
</form>


</body>
</html>